<div class="panel no-bt mbl">
  <div class="row collapse">
    <div class="medium-12 columns">
      <h4 class="no-m pts pbs">Tickets Report</h4>
    </div>
  </div>
</div>
<%= form_tag reports_download_path(:csv, params) do %>
  <div class="row mt mb">

    <div class="medium-6 columns">

      <%= label_tag :label %>
      <%= select_tag :label, options_from_collection_for_select(Label.all, "id", "name") %>

      <%= label_tag 'Start date' %>
      <%= date_field_tag :start_date %>

      <%= label_tag 'End date' %>
      <%= date_field_tag :end_date %>

    </div>

    <div class="medium-6 columns">
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns bt">
      <%= submit_tag 'Download', class: 'success button radius mtl' %>
    </div>
  </div>
<% end %>
